<div class="shadow-sm mt-5">
    <div class="container row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="fs-1 p-5 fw-bolder text-secondary">Oops!</div>
            <i class="fas fa-satellite fa-7x text-muted"></i>
        </div>
    </div>
    
    <div class="container-fluid row">
        <div class="d-flex justify-content-center align-items-center">
            <%- include('messages') %>
        </div>
    </div>
</div>